@charset "UTF-8";
@font-face {
  font-family: 'Favorit';
  src: url("../fonts/FavoritStd-Bold.eot");
  src: url("../fonts/FavoritStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FavoritStd-Bold.woff2") format("woff2"), url("../fonts/FavoritStd-Bold.woff") format("woff"), url("../fonts/FavoritStd-Bold.ttf") format("truetype"), url("../fonts/FavoritStd-Bold.svg#FavoritStd-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Favorit';
  src: url("../fonts/Favorit-Medium.eot");
  src: url("../fonts/Favorit-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Favorit-Medium.woff2") format("woff2"), url("../fonts/Favorit-Medium.woff") format("woff"), url("../fonts/Favorit-Medium.ttf") format("truetype"), url("../fonts/Favorit-Medium.svg#Favorit-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Favorit';
  src: url("../fonts/FavoritStd-Book.eot");
  src: url("../fonts/FavoritStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FavoritStd-Book.woff2") format("woff2"), url("../fonts/FavoritStd-Book.woff") format("woff"), url("../fonts/FavoritStd-Book.ttf") format("truetype"), url("../fonts/FavoritStd-Book.svg#FavoritStd-Book") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
body {
  font-family: 'EB Garamond', 'Favorit', serif;
  letter-spacing: -0.02em;
  color: #3A3E40;
  font-size: 20px; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'EB Garamond';
  letter-spacing: -0.02em;
  color: #3A3E40;
  font-weight: 400;
  text-align: center; }

.h-line {
  display: block;
  width: 100%; }

.h-line::after {
  content: '';
  display: block;
  height: 3px;
  max-width: 190px;
  width: 100%;
  background-color: #A9B6D7;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 32px; }

h1 {
  margin-bottom: 30px;
  line-height: 101%; }

h1, h2 {
  font-size: 60px; }
  h1.h-line::after, h2.h-line::after {
    margin-top: 47px;
    margin-bottom: 46px; }

h2 {
  font-size: 55px; }

h3 {
  font-size: 36px;
  font-weight: 500; }

h4 {
  font-size: 32px;
  font-weight: 500;
  text-align: left; }

h5 {
  font-size: 30px;
  font-weight: bold;
  text-align: left; }

h6 {
  font-size: 26px;
  font-weight: bold;
  font-family: 'Favorit'; }

.btn {
  width: 200px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3A3E40;
  background: #A9B6D7;
  border-radius: 50px;
  font-size: 20px;
  font-family: EB Garamond; }
  .btn:hover {
    background: #8090b8;
    color: #fff; }

header {
  color: #fff;
  background-color: #A9B6D7;
  height: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 0; }
  header:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(2, 2, 2, 0.26); }
  header .section__content p {
    max-width: 530px;
    margin: 0 auto; }
  header h1 {
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px; }

.header_main {
  background-image: url("../img/header-bg.jpg"); }

.header_gamla {
  background-image: url("../img/header-bg2.jpg"); }

.header_fria {
  background-image: url("../img/header-bg3.jpg"); }

.header_blog {
  background-image: url("../img/header-bg4.jpg"); }

.header_contact {
  background-image: url("../img/header-bg5.jpg"); }

.nav-main {
  color: #fff;
  font-family: 'Favorit', sans-serif;
  font-weight: 700;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out; }
  .nav-main .navbar-brand {
    font-size: 25px;
    color: #fff; }
    .nav-main .navbar-brand:hover {
      color: inherit; }
  .nav-main .navbar-nav {
    margin-left: auto;
    font-size: 18px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .nav-main .navbar-nav a {
      height: 100%;
      border-bottom: 2px solid transparent;
      -webkit-transition: border-bottom 0.3s ease-in-out;
      transition: border-bottom 0.3s ease-in-out; }
    .nav-main .navbar-nav a:hover {
      border-bottom: 2px solid #fff; }
    .nav-main .navbar-nav a:not(:last-child) {
      margin-right: 5em; }
    .nav-main .navbar-nav .dropdown-nav {
      position: relative;
      height: 43px; }
      .nav-main .navbar-nav .dropdown-nav .dropdown-list {
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0;
        margin: 0;
        position: absolute;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-top: 20px;
        -webkit-transform: translateY(-400px);
                transform: translateY(-400px);
        opacity: 0;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
        padding: 10px 20px;
        padding-top: 20px;
        border-radius: 7px; }
        .nav-main .navbar-nav .dropdown-nav .dropdown-list li {
          margin-bottom: 10px; }
        .nav-main .navbar-nav .dropdown-nav .dropdown-list:hover {
          -webkit-transform: translateY(0px);
                  transform: translateY(0px);
          opacity: 1; }
      .nav-main .navbar-nav .dropdown-nav .dropdown-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-top: 2px; }
        .nav-main .navbar-nav .dropdown-nav .dropdown-link::after {
          content: '';
          display: block;
          background-image: url("data:image/svg+xml,%3Csvg width='15' height='9' viewBox='0 0 15 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.41406' width='10' height='2' rx='1' transform='rotate(45 1.41406 0)' fill='white'/%3E%3Crect x='14.1406' y='1.41406' width='10' height='2' rx='1' transform='rotate(135 14.1406 1.41406)' fill='white'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          width: 14px;
          height: 9px;
          margin-left: 10px; }
        .nav-main .navbar-nav .dropdown-nav .dropdown-link:hover {
          border-bottom: 2px solid transparent; }
        .nav-main .navbar-nav .dropdown-nav .dropdown-link:hover + .dropdown-list {
          -webkit-transform: translateY(0px);
                  transform: translateY(0px);
          opacity: 1; }
  .nav-main.nav-scrolling {
    background-color: rgba(37, 63, 131, 0.67);
    padding-top: 8px; }
  .nav-main .navbar-toggler {
    border: none; }
    .nav-main .navbar-toggler:focus {
      outline: none;
      color: transparent; }
  .nav-main .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28 255, 255, 255, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
  .nav-main .dropdown-list {
    background-color: #fff;
    color: #5d5d5d;
    -webkit-box-shadow: 2px 5px 10px #00000021;
            box-shadow: 2px 5px 10px #00000021; }

.security {
  padding-top: 110px;
  padding-bottom: 80px; }
  .security h2 {
    max-width: 1000px;
    margin: 0 auto;
    color: #000000; }

.section__content p {
  font-size: 20px;
  line-height: 180%;
  text-align: center;
  max-width: 880px;
  margin: 0 auto; }

.security-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 70px; }
  .security-list h4 {
    font-weight: 500;
    text-align: center;
    margin-top: 40px; }
  .security-list li {
    text-align: center;
    width: 330px; }
    .security-list li:not(:last-child) {
      margin-right: 3em; }
  .security-list p {
    margin-bottom: 40px; }
  .security-list .btn {
    margin: 0 auto;
    margin-top: auto;
    justify-self: flex-end; }
  .security-list .security-list__card {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .security-list .security-list__card img {
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%;
      height: 410px;
      max-height: 520px; }
  .security-list .security-list__content {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    margin-bottom: auto; }
    .security-list .security-list__content p {
      font-size: 20px; }

.half-section h3 {
  line-height: 60px;
  margin-bottom: 40px; }
  .half-section h3.h-line {
    margin-bottom: 0; }
.half-section.margin-bottom {
  margin-bottom: 150px; }
.half-section .btn {
  margin-top: 20px;
  max-width: 240px; }
.half-section .half-section__img {
  width: 100%;
  height: 100%; }
  .half-section .half-section__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
.half-section .half-section__content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 60px 80px; }
  .half-section .half-section__content .btn {
    background: #C4C4C4; }
  .half-section .half-section__content_gray {
    background-color: #F3F3F3; }
    .half-section .half-section__content_gray .btn {
      background: #A9B6D7; }

.cornerstones-list {
  margin-top: 5px; }

.main-quote {
  padding-top: 200px;
  padding-bottom: 150px; }
  .main-quote h3 {
    max-width: 700px;
    margin: 0 auto;
    line-height: 160%;
    font-size: 55px;
    font-weight: 400; }
    .main-quote h3::before, .main-quote h3::after {
      content: '“';
      font-size: 96px;
      text-align: center;
      display: block; }
    .main-quote h3::before {
      margin-bottom: 4px; }
    .main-quote h3::after {
      margin-top: 50px; }
  .main-quote cite {
    text-align: center;
    display: block;
    font-family: Favorit;
    font-style: normal;
    font-size: 22px;
    font-weight: 300; }

.independence {
  margin-top: 100px;
  margin-bottom: 190px; }
  .independence h4 {
    max-width: 515px; }
    .independence h4::after {
      text-align: left;
      margin-left: 0;
      margin-top: 50px; }
  .independence .section__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .independence .section__content p {
      text-align: left;
      margin: 0; }
  .independence .btn {
    width: auto;
    padding: 0 62px;
    margin-top: 60px;
    font-family: 'Favorit';
    font-size: 18px;
    font-weight: bold; }

footer {
  background-color: #A9B6D7;
  padding-top: 82px;
  padding-bottom: 70px;
  font-weight: 500;
  font-size: 18px;
  font-family: Favorit; }
  footer .footer__wrapper {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  footer .footer__list {
    list-style: none;
    padding: 0; }
    footer .footer__list li:not(:last-child) {
      margin-bottom: 25px; }
    footer .footer__list a {
      -webkit-transition: color 0.3s ease-in-out;
      transition: color 0.3s ease-in-out; }
    footer .footer__list a:hover {
      color: #000; }
  footer .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    footer .footer__item span {
      display: block; }
    footer .footer__item h6 {
      text-align: left;
      margin-bottom: 35px; }
    footer .footer__item p:first-of-type {
      margin-bottom: auto; }
  footer .footer__info {
    background-color: #B9C3DC;
    border-radius: 20px;
    padding: 42px 33px;
    max-width: 430px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    footer .footer__info:before {
      content: 'i';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-weight: bold;
      font-family: Favorit;
      font-size: 20px;
      width: 33px;
      height: 33px;
      border: 3px solid #3A3E40;
      border-radius: 50%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      margin-right: 13px; }

.filter-publication {
  background: #3A3E40;
  padding-top: 27px;
  padding-bottom: 33px;
  color: #FFFFFF;
  min-height: 120px; }
  .filter-publication__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .filter-publication__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .filter-publication__item:not(:last-child) {
      margin-right: 25px; }
    .filter-publication__item > span {
      font-family: 'EB Garamond';
      font-weight: 500;
      font-size: 22px;
      display: block;
      margin-bottom: 13px; }

/* Dropdown Button */
.dropbtn {
  background: #EAE9ED;
  border-radius: 24px;
  color: #3A3E40;
  font-weight: 400;
  font-size: 16px;
  border: none;
  padding: 15px 22px;
  width: 230px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Favorit';
  -webkit-transition: border-radius 0.3s ease, background 0.3s ease;
  transition: border-radius 0.3s ease, background 0.3s ease; }
  .dropbtn::after {
    content: '';
    display: block;
    width: 17px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='16.6523' y='1.6748' width='11.7744' height='1.81144' rx='0.905719' transform='rotate(135 16.6523 1.6748)' fill='%233A3E40'/%3E%3Crect x='1.28125' y='0.393555' width='11.7744' height='1.81144' rx='0.905719' transform='rotate(45 1.28125 0.393555)' fill='%233A3E40'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease; }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 5px; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background: #EAE9ED;
  border-radius: 24px 3px 24px 24px;
  border: 1px solid #C1BBD0;
  width: 230px;
  z-index: 1;
  margin-top: 5px;
  padding: 22px;
  font-family: 'Favorit';
  font-weight: 400;
  color: #3A3E40;
  max-height: 271px;
  overflow-y: auto;
  scrollbar-width: thin; }
  .dropdown-content::-webkit-scrollbar {
    width: 7px; }
  .dropdown-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  .dropdown-content::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background: #9FAFD7;
  border-radius: 24px 24px 3px 24px;
  color: #FFFFFF; }
  .dropdown:hover .dropbtn::after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-filter: invert(1) contrast(2.5);
            filter: invert(1) contrast(2.5); }

/* Customize the label (the container) */
.dropdown-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .dropdown-container:not(:last-child) {
    margin-bottom: 15px; }

/* Hide the browser's default checkbox */
.dropdown-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark,
.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border-radius: 3px;
  border: 2px solid #A0A0A0; }

.radiomark {
  border-radius: 50%; }

/* On mouse-over, add a grey background color */
.dropdown-container:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.dropdown-container input:checked ~ .checkmark {
  background: #9FAFD7;
  border: 1px solid #8189EA; }

.dropdown-container input:checked ~ .radiomark {
  background: #ffffff;
  border: 6px solid #8189EA; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after,
.radiomark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.dropdown-container input:checked ~ .checkmark:after,
.dropdown-container input:checked ~ .radiomark:after {
  display: block; }

/* Style the checkmark/indicator */
.dropdown-container .checkmark:after {
  left: 2px;
  top: 4px;
  width: 15px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='13' viewBox='0 0 16 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.60352' y='4.60156' width='8.13015' height='2.83424' rx='1' transform='rotate(45 2.60352 4.60156)' fill='white'/%3E%3Crect x='4.34375' y='10.3496' width='13.2265' height='2.83424' rx='1' transform='rotate(-45 4.34375 10.3496)' fill='white'/%3E%3C/svg%3E%0A"); }

.filter-selectedtags {
  background: #F3F3F3;
  padding: 10px 0; }
  .filter-selectedtags__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .filter-selectedtags__list li {
      margin: 7px; }
  .filter-selectedtags__btn {
    background: #E0E0E0;
    border-radius: 24px;
    height: 42px;
    border: none;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Favorit;
    font-size: 16px; }
    .filter-selectedtags__btn::before {
      content: '';
      display: block;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='11.2188' width='15.8645' height='2' rx='1' transform='rotate(-45 1 11.2188)' fill='%23555555'/%3E%3Crect width='15.8645' height='2' rx='1' transform='matrix(-0.707107 -0.707107 -0.707107 0.707107 13.498 11.2188)' fill='%23555555'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: contain;
      width: 13px;
      height: 13px;
      margin-top: 2px;
      margin-right: 13px; }

.cards-publication__list {
  padding-top: 45px;
  padding-bottom: 45px;
  max-width: 1080px;
  margin: 0 auto; }
.cards-publication__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0;
  border: 1px solid #B9B9B9;
  border-radius: 24px;
  background: #FBFBFB;
  overflow: hidden; }
  .cards-publication__item:not(:last-child) {
    margin-bottom: 25px; }
  .cards-publication__item h6 {
    font-family: 'EB Garamond';
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    line-height: 120%;
    margin-bottom: 0; }
.cards-publication__more {
  color: #000000;
  font-weight: bold; }
.cards-publication__tags-line {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .cards-publication__tags-line li {
    margin-bottom: 14px; }
  .cards-publication__tags-line li:not(:last-child) {
    margin-right: 14px; }
.cards-publication__tag {
  background: transparent;
  color: #738FD3;
  font-weight: 500;
  font-family: Favorit;
  text-decoration: none;
  padding: 0;
  width: auto;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border: none; }
.cards-publication__info-line {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #717475;
  margin-top: 20px; }
  .cards-publication__info-line li {
    font-family: Favorit;
    font-weight: 300;
    font-size: 16px; }
    .cards-publication__info-line li:not(:last-child)::after {
      content: '|';
      margin: 0 0.6em; }
.cards-publication__content {
  padding: 40px;
  padding-bottom: 38px;
  font-family: Favorit;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .cards-publication__content p {
    margin-bottom: 0;
    text-align: left;
    font-weight: 300;
    font-size: 18px;
    color: #000000; }
.cards-publication__media-wrapper {
  max-width: 400px;
  width: 40%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative; }
  .cards-publication__media-wrapper img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
.cards-publication__item_ivent {
  position: relative; }
  .cards-publication__item_ivent::before {
    content: 'EVENT';
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 400;
    border-bottom-left-radius: 14px;
    font-size: 14px;
    padding: 0 20px;
    font-family: 'Favorit';
    color: #ffffff;
    background: #9FAFD7;
    height: 38px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1; }
  .cards-publication__item_ivent .cards-publication__media-wrapper {
    position: relative; }
    .cards-publication__item_ivent .cards-publication__media-wrapper span {
      position: absolute;
      right: 0;
      top: 0;
      color: #FFFFFF;
      font-family: 'Favorit';
      font-weight: 500;
      background: #262626;
      height: 40px;
      width: auto;
      padding: 0 32px;
      font-size: 17px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

.pagination {
  margin-bottom: 260px;
  margin-top: 60px;
  overflow: hidden; }
  .pagination__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto; }
  .pagination-prev, .pagination-next {
    display: block;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border: none;
    background: transparent;
    padding: 0; }
    .pagination-prev span, .pagination-next span {
      display: block;
      background-color: #A9B6D7;
      width: 45px;
      height: 45px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50%;
      background-image: url("data:image/svg+xml,%3Csvg width='54' height='46' viewBox='0 0 54 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M34.0294 1.78688L53.1213 20.8788C54.2929 22.0503 54.2929 23.9498 53.1213 25.1214L34.0294 44.2133C32.8579 45.3849 30.9584 45.3849 29.7868 44.2133C28.6152 43.0417 28.6152 41.1422 29.7868 39.9706L43.7574 26.0001H3C1.34315 26.0001 0 24.6569 0 23.0001C0 21.3432 1.34315 20.0001 3 20.0001H43.7574L29.7868 6.02952C28.6152 4.85795 28.6152 2.95846 29.7868 1.78688C30.9584 0.61531 32.8579 0.61531 34.0294 1.78688Z' fill='%233A3E40'/%3E%3C/svg%3E%0A");
      border-radius: 50%;
      text-indent: -999em;
      overflow: hidden;
      text-align: left;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      direction: ltr; }
  .pagination-prev {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .pagination__pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .pagination__value {
    border: none;
    background: none;
    font-size: 30px;
    color: #ADAFAF; }
    .pagination__value.pagination__value_active {
      color: #000000; }

.article-toBack {
  padding: 30px 0;
  background: #F3F2F2; }
  .article-toBack__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Favorit; }
    .article-toBack__link .pagination-prev {
      margin-right: 10px; }

.article-post {
  background: #F3F2F2; }
  .article-post__title-img {
    width: 100%;
    height: auto;
    max-height: 475px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 25px; }
  .article-post__title-img-caption {
    text-align: right;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px; }
  .article-post__content {
    padding: 0 5em;
    margin-top: 30px;
    font-family: favorit;
    line-height: 160%;
    font-weight: 300;
    font-size: 17px; }

.article-sheet {
  background: #FFFFFF;
  padding: 60px 0;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .article-sheet h6 {
    font-family: 'EB Garamond';
    font-size: 32px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    line-height: 120%; }

.history {
  margin: 150px 0; }

.filter.filter-publication {
  background-color: #F3F3F3;
  padding-top: 0;
  margin-bottom: 5px;
  padding-bottom: 0px; }
  .filter.filter-publication .category-list {
    padding: 0 0 30px 0;
    height: auto;
    -webkit-transition: height 0.3s ease-in-out, padding 0.5s ease-in-out;
    transition: height 0.3s ease-in-out, padding 0.5s ease-in-out; }
    .filter.filter-publication .category-list li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transition: height 0.3s ease-in-out;
      transition: height 0.3s ease-in-out;
      height: 57px; }
    .filter.filter-publication .category-list.category-list_closed {
      height: 0;
      padding: 0; }
      .filter.filter-publication .category-list.category-list_closed li {
        height: 0; }
        .filter.filter-publication .category-list.category-list_closed li .btn {
          display: none; }
.filter .filter__spoiler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  background: #717475; }
  .filter .filter__spoiler .filter__spoiler-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
    cursor: pointer; }
    .filter .filter__spoiler .filter__spoiler-btn:after {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      background-image: url("data:image/svg+xml,%3Csvg width='22' height='12' viewBox='0 0 22 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.2688 0.352779C0.627195 -0.00561622 1.20653 -0.00561617 1.56493 0.352779L11 9.78783L20.4351 0.35278C20.7935 -0.00561446 21.3728 -0.0056144 21.7312 0.352781C22.0896 0.711175 22.0896 1.29051 21.7312 1.64891L11.6481 11.732C11.4693 11.9108 11.2347 12.0006 11 12.0006C10.7653 12.0006 10.5306 11.9108 10.3519 11.732L0.268757 1.6489C-0.0895949 1.29051 -0.0895945 0.711174 0.2688 0.352779Z' fill='white'/%3E%3C/svg%3E%0A");
      -webkit-transition: -webkit-transform 0.5s ease-in-out;
      transition: -webkit-transform 0.5s ease-in-out;
      transition: transform 0.5s ease-in-out;
      transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
      background-repeat: no-repeat;
      background-position: center; }
    .filter .filter__spoiler .filter__spoiler-btn.filter__spoiler-btn_open:after {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .filter .filter__spoiler .filter__spoiler-btn:focus, .filter .filter__spoiler .filter__spoiler-btn:hover {
      background: inherit; }
  .filter .filter__spoiler svg {
    margin-right: 20px; }
  .filter .filter__spoiler h5 {
    text-align: left;
    margin-right: auto;
    margin-left: 0; }

.article-navigation {
  background: #F3F2F2;
  padding-top: 30px;
  padding-bottom: 120px; }
  .article-navigation__item:last-child {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .article-navigation__img-box {
    margin-top: 20px;
    position: relative;
    max-width: 440px;
    width: 100%;
    height: 290px; }
    .article-navigation__img-box img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    .article-navigation__img-box span {
      background: #A9B6D7;
      position: absolute;
      padding: 0 20px;
      height: 42px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #000000;
      top: 0;
      right: 0; }
  .article-navigation__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Favorit; }
    .article-navigation__link .pagination-prev {
      margin-right: 10px; }
    .article-navigation__link .pagination-next {
      margin-left: 10px; }
  .article-navigation__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.filter-media-thin .filter-publication__wrapper,
.filter-media-thin .filter-selectedtags__list {
  max-width: 1080px;
  margin: 0 auto; }

.contact-section {
  padding-top: 120px;
  padding-bottom: 120px; }
  .contact-section__form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 450px; }
    .contact-section__form-wrapper h2 {
      text-align: left;
      color: #000000;
      font-weight: 500; }
  .contact-section__info-wrapper {
    background: #F3F3F3;
    padding: 40px 48px;
    margin-left: 5em;
    padding-right: 70px; }
  .contact-section__info-list {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: favorit;
    margin-top: 45px;
    font-size: 18px; }
    .contact-section__info-list p {
      margin-bottom: 0; }
      .contact-section__info-list p:not(:last-of-type) {
        margin-bottom: 7px; }
    .contact-section__info-list li {
      padding-left: 25px;
      position: relative; }
      .contact-section__info-list li:not(:last-child) {
        margin-bottom: 40px; }
      .contact-section__info-list li::before {
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #9FAFD7;
        margin-right: 15px;
        margin-top: 6px;
        position: absolute;
        left: 0; }
  .contact-section__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1024px;
    margin: 0 auto; }
    .contact-section__wrapper h3 {
      text-align: left;
      font-family: favorit;
      color: #000000; }
  .contact-section form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contact-section form input,
    .contact-section form textarea {
      border: 2px solid #A0A0A0;
      font-family: favorit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 24px;
      padding: 9px 22px;
      font-weight: 300;
      font-size: 19px;
      color: #3A3E40;
      outline: none;
      margin: 7px 0;
      width: 100%; }
      .contact-section form input::-webkit-input-placeholder,
      .contact-section form textarea::-webkit-input-placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #A0A0A0;
        opacity: 1;
        /* Firefox */
        font-size: 17px;
        font-weight: 300; }
      .contact-section form input:-ms-input-placeholder,
      .contact-section form textarea:-ms-input-placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #A0A0A0;
        opacity: 1;
        /* Firefox */
        font-size: 17px;
        font-weight: 300; }
      .contact-section form input::-ms-input-placeholder,
      .contact-section form textarea::-ms-input-placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #A0A0A0;
        opacity: 1;
        /* Firefox */
        font-size: 17px;
        font-weight: 300; }
      .contact-section form input::placeholder,
      .contact-section form textarea::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #A0A0A0;
        opacity: 1;
        /* Firefox */
        font-size: 17px;
        font-weight: 300; }
      .contact-section form input:-ms-input-placeholder,
      .contact-section form textarea:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #A0A0A0;
        font-size: 17px;
        font-weight: 300; }
      .contact-section form input::-ms-input-placeholder,
      .contact-section form textarea::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #A0A0A0;
        font-size: 17px;
        font-weight: 300; }
    .contact-section form button {
      margin: 8px 0;
      font-family: favorit;
      font-weight: 500; }

/*# sourceMappingURL=main.css.map */