.nav-main .navbar-nav {
  font-size: 15px; }
.nav-main .navbar-brand {
  font-size: 22px; }

h1, h2 {
  font-size: 40px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 30px;
  font-weight: 500; }

h4 {
  font-size: 28px; }

h6 {
  font-size: 22px; }

h1.h-line::after,
h2.h-line::after {
  margin-top: 27px;
  margin-bottom: 26px;
  max-width: 140px; }

header {
  height: 70vh; }
  header h1 {
    max-width: 540px; }
  header .section__content p {
    max-width: 430px;
    font-size: 18px; }

@media screen and (max-height: 719px) {
  header {
    height: 575px; } }
.btn {
  font-size: 18px; }

.section__content p {
  font-size: 18px;
  line-height: 170%;
  max-width: 790px; }

.security-list .security-list__card {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .security-list .security-list__card img {
    width: 82%;
    margin: 0 auto;
    height: 370px; }
.security-list .h-line::after {
  max-width: 120px;
  margin-top: 20px;
  margin-bottom: 12px; }
.security-list .security-list__content {
  max-width: 290px;
  margin: 0 auto;
  margin-bottom: auto;
  padding-bottom: 20px; }
  .security-list .security-list__content p {
    font-size: 18px;
    margin-bottom: 0px; }
.security-list .btn {
  margin-top: auto;
  font-weight: 500; }
.security-list li:not(:last-child) {
  margin-right: 0em; }

.half-section .h-line::after {
  margin-top: 10px;
  margin-bottom: 22px; }
.half-section .half-section__img img {
  max-height: 400px;
  -o-object-position: top;
     object-position: top; }

.main-quote {
  padding-bottom: 60px;
  padding-top: 140px; }
  .main-quote h3 {
    font-size: 32px;
    max-width: 580px;
    margin-bottom: 40px; }
  .main-quote h3::before,
  .main-quote h3::after {
    font-size: 66px; }
  .main-quote h3::after {
    margin-top: 40px; }
  .main-quote cite {
    font-size: 18px; }

.independence {
  margin-bottom: 150px; }
  .independence h4 {
    max-width: 415px; }
  .independence .btn {
    font-size: 15px; }

footer {
  padding-bottom: 50px; }
  footer .footer__list a {
    font-size: 16px; }
  footer .footer__list li:not(:last-child) {
    margin-bottom: 14px; }
  footer .footer__item {
    font-size: 16px; }
    footer .footer__item h6 {
      margin-bottom: 19px; }
  footer .footer__info {
    font-size: 16px; }
    footer .footer__info:before {
      width: 29px;
      height: 29px;
      font-size: 18px;
      border-width: 2px; }

.half-section h3 {
  margin-bottom: 0; }
.half-section .half-section__content .btn {
  margin-bottom: 15px; }

.cards-publication__item h6 {
  font-size: 24px; }

.cards-publication__info-line li {
  font-size: 16px; }

.cards-publication__tags-line button {
  font-size: 17px; }

.cards-publication__media-wrapper {
  height: 310px; }

.cards-publication__item_ivent .cards-publication__media-wrapper span {
  font-size: 15px;
  height: 34px;
  padding: 0 26px; }

.filter {
  padding-bottom: 60px;
  padding-top: 50px; }
  .filter h5 {
    font-size: 24px; }

@media screen and (max-width: 1200px) {
  .security-list .btn {
    width: 200px; }

  .half-section .half-section__content {
    padding: 35px 40px; }

  .nav-main .navbar-nav {
    margin-top: 0px; }

  .security-list .security-list__content {
    max-width: 460px;
    margin: 0 auto; } }
@media screen and (max-width: 992px) {
  .security-list li:not(:last-child) {
    margin-bottom: 90px; }

  .independence h4 {
    max-width: unset; }
    .independence h4::after {
      margin-top: 30px;
      margin-bottom: 24px;
      max-width: 130px; }

  footer .footer__item:not(:last-child) {
    -ms-flex-preferred-size: unset;
        flex-basis: unset; }
  footer .footer__item:first-child {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%; }
  footer .footer__item:nth-child(2) {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%; }
  footer .footer__wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

  .date-list li {
    margin: 25px 12px 0 12px; }

  .cards-publication__item h6 {
    font-size: 22px; } }
@media screen and (max-width: 576px) {
  .main-quote {
    padding-bottom: 60px;
    padding-top: 90px; }

  .nav-main .navbar-brand {
    font-size: 18px; }

  h4 {
    font-size: 26px; }

  .half-section .half-section__content {
    padding: 35px 20px; }

  h1 {
    font-size: 33px; }

  .cards-publication__item h6 {
    font-size: 20px; }
  .cards-publication__item p {
    line-height: 140%; } }
@media screen and (max-width: 424px) {
  .independence .btn {
    height: 52px; }

  .security-list .security-list__card img {
    width: 100%; } }

/*# sourceMappingURL=smaller.css.map */