@mixin list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Favorit';
    src: url('../fonts/FavoritStd-Bold.eot');
    src: url('../fonts/FavoritStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FavoritStd-Bold.woff2') format('woff2'),
        url('../fonts/FavoritStd-Bold.woff') format('woff'),
        url('../fonts/FavoritStd-Bold.ttf') format('truetype'),
        url('../fonts/FavoritStd-Bold.svg#FavoritStd-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Favorit';
    src: url('../fonts/Favorit-Medium.eot');
    src: url('../fonts/Favorit-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Favorit-Medium.woff2') format('woff2'),
        url('../fonts/Favorit-Medium.woff') format('woff'),
        url('../fonts/Favorit-Medium.ttf') format('truetype'),
        url('../fonts/Favorit-Medium.svg#Favorit-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Favorit';
    src: url('../fonts/FavoritStd-Book.eot');
    src: url('../fonts/FavoritStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FavoritStd-Book.woff2') format('woff2'),
        url('../fonts/FavoritStd-Book.woff') format('woff'),
        url('../fonts/FavoritStd-Book.ttf') format('truetype'),
        url('../fonts/FavoritStd-Book.svg#FavoritStd-Book') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



body {
    font-family: 'EB Garamond', 'Favorit', serif;
    letter-spacing: -0.02em;
    color: #3A3E40;
    font-size: 20px;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'EB Garamond';
    letter-spacing: -0.02em;
    color: #3A3E40;
    font-weight: 400;
    text-align: center;
}

.h-line {
    display: block;
    width: 100%;
}

.h-line::after {
    content: '';
    display: block;
    height: 3px;
    max-width: 190px;
    width: 100%;
    background-color: #A9B6D7;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 32px;
}

h1 {
    margin-bottom: 30px;
    line-height: 101%;
}

h1, h2 {
    font-size: 60px;

    &.h-line::after {
        margin-top: 47px;
        margin-bottom: 46px;
    }
}

h2 {
    font-size: 55px;
}

h3 {
    font-size: 36px;
    font-weight: 500;
}

h4 {
    font-size: 32px;
    font-weight: 500;
    text-align: left;
}

h5 {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

h6 {
    font-size: 26px;
    font-weight: bold;
    font-family: 'Favorit';
}

.btn {
    width: 200px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3A3E40;

    background: #A9B6D7;
    border-radius: 50px;
    font-size: 20px;
    font-family: EB Garamond;

    &:hover {
        background: #8090b8;
        color: #fff;
    }
}

header {
    color: #fff;
    background-color: #A9B6D7;
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 0;

    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: rgba(2, 2, 2, 0.26);
    }

    .section__content {
        
        p {
            max-width: 530px;
            margin: 0 auto;
        }
    }

    h1 {
        color: #fff;
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 30px; 
    }
}

.header_main {
    background-image: url('../img/header-bg.jpg');
}

.header_gamla {
    background-image: url('../img/header-bg2.jpg');
}

.header_fria {
    background-image: url('../img/header-bg3.jpg');
}

.nav-main {
    color: #fff;
    font-family: 'Favorit', sans-serif;
    font-weight: 700;
    transition: background-color 0.5s ease-in-out;

    .navbar-brand {
        font-size: 25px;
        color: #fff;

        &:hover {
            color: inherit;
        }
    }

    .navbar-nav {
        margin-left: auto;
        font-size: 18px;
        align-items: center;

        a {
            height: 100%;
            border-bottom: 2px solid transparent;
            transition: border-bottom 0.3s ease-in-out;
        }

        a:hover {
            border-bottom: 2px solid #fff;
        }

        a:not(:last-child) {
            margin-right: 5em;
        }

        .dropdown-nav {
            position: relative;
            height: 43px;   

            .dropdown-list {
                @include list;
                position: absolute;
                display: flex;
                flex-direction: column;
                padding-top: 20px;
                transform: translateY(-400px);
                opacity: 0;
                transition: opacity 0.3s ease;
                padding: 10px 20px;
                padding-top: 20px;
                border-radius: 7px;

                li {
                    margin-bottom: 10px;
                }

                &:hover {
                    transform: translateY(0px);
                    opacity: 1;
                }
            }

            .dropdown-link {
                display: flex;
                align-items: center;
                padding-top: 2px;

                &::after {
                    content: '';
                    display: block;
                    background-image: url("data:image/svg+xml,%3Csvg width='15' height='9' viewBox='0 0 15 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.41406' width='10' height='2' rx='1' transform='rotate(45 1.41406 0)' fill='white'/%3E%3Crect x='14.1406' y='1.41406' width='10' height='2' rx='1' transform='rotate(135 14.1406 1.41406)' fill='white'/%3E%3C/svg%3E%0A");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    width: 14px;
                    height: 9px;
                    margin-left: 10px;
                }

                &:hover {
                    border-bottom: 2px solid transparent;
                }

                &:hover + .dropdown-list {
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
        }
    }

    &.nav-scrolling {
        background-color: rgba(37, 63, 131, 0.67);
        padding-top: 8px;
    }

    .navbar-toggler {
        border: none;
        
        &:focus {
            outline: none;
            color: transparent;
        }
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28 255, 255, 255, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .dropdown-list {
        background-color: #fff;
        color: #5d5d5d;
        box-shadow: 2px 5px 10px #00000021;
    }
}

.security {
    padding-top: 110px;
    padding-bottom: 80px;

    h2 {
        max-width: 1000px;
        margin: 0 auto;
        color: #000000;
    }
}

.section__content {
    p {
        font-size: 20px;
        line-height: 180%;
        text-align: center;
        max-width: 880px;
        margin: 0 auto;
    }
}

.security-list {
    @include list;
    margin-top: 60px;
    justify-content: center;
    padding-bottom: 70px;

    h4 {
        font-weight: 500;
        text-align: center;
        margin-top: 40px;
    }

    li {
        text-align: center;
        width: 330px;

        &:not(:last-child) {
            margin-right: 3em;
        }
    }
    
    p {
        margin-bottom: 40px;
    }

    .btn {
        margin: 0 auto;
        margin-top: auto;
        justify-self: flex-end;
    }

    .security-list__card {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
            object-fit: cover;
            width: 100%;
            height: 410px;
            max-height: 520px;
        }
    }

    .security-list__content {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
        margin-bottom: auto;

        p {
            font-size: 20px;
        }
    }
}

.half-section {

    h3 {
        line-height: 60px;
        margin-bottom: 40px;

        &.h-line {
            margin-bottom: 0;
        }
    }

    .btn {
        margin-top: 20px;
        max-width: 240px;
    }

    .half-section__img {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .half-section__content {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding: 60px 80px;

        .btn {
            background: #C4C4C4;
        }

        &_gray {
            background-color: #F3F3F3;

            .btn {
                background: #A9B6D7;
            }
        }
    }
}

.cornerstones-list {
    margin-top: 5px;
}

.main-quote {
    padding-top: 200px;
    padding-bottom: 150px;

    h3 {
        max-width: 700px;
        margin: 0 auto;
        line-height: 160%;
        font-size: 55px;
        font-weight: 400;

        &::before, &::after {
            content: '“';
            font-size: 96px;
            text-align: center;
            display: block;
        }

        &::before {
            margin-bottom: 4px;
        }

        &::after {
            margin-top: 50px;
        }
    }

    cite {
        text-align: center;
        display: block;
        font-family: Favorit;
        font-style: normal;
        font-size: 22px;
        font-weight: 300;
    }
}

.independence {
    margin-top: 100px;
    margin-bottom: 190px;

    h4 {
        max-width: 515px;
        &::after {
            text-align: left;
            margin-left: 0;
            margin-top: 50px;
        }
    }

    .section__content {
        p {
            text-align: left;
            margin: 0;
        }

        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .btn {
        width: auto;
        padding: 0 62px;
        margin-top: 60px;
        font-family: 'Favorit';
        font-size: 18px;
        font-weight: bold;
    }
}

footer {
    background-color: #A9B6D7;
    padding-top: 82px;
    padding-bottom: 70px;
    font-weight: 500;
    font-size: 18px;
    font-family: Favorit;

    .footer__wrapper {
        @include list;
        justify-content: space-between;
    }

    .footer__list {
        list-style: none;
        padding: 0;

        li:not(:last-child) {
            margin-bottom: 25px;
        }

        a {
            transition: color 0.3s ease-in-out;
        }

        a:hover {
            color: #000;
        }
    }

    .footer__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span {
            display: block;
        }

        h6 {
            text-align: left;
            margin-bottom: 35px;
        }

        p:first-of-type {
            margin-bottom: auto;
        }
    }

    .footer__info {
        background-color: #B9C3DC;
        border-radius: 20px;
        padding: 42px 33px;
        max-width: 430px;
        display: flex;

        &:before {
            content: 'i';
            display: flex;
            font-weight: bold;
            font-family: Favorit;
            font-size: 20px;
            width: 33px;
            height: 33px;
            border: 3px solid #3A3E40;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            margin-right: 13px;
        } 
    }
}

.filter-publication {
    background: #3A3E40;
    padding-top: 27px;
    padding-bottom: 33px;
    color: #FFFFFF;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-right: 25px;
        }

        & > span {
            font-family: 'EB Garamond';
            font-weight: 500;
            font-size: 22px;
            display: block;
            margin-bottom: 13px;
        }
    }
}

/* Dropdown Button */
.dropbtn {
    background: #EAE9ED;
    border-radius: 24px;
    color: #3A3E40;
    font-weight: 400;
    font-size: 16px;
    border: none;
    padding: 15px 22px;
    width: 220px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Favorit';
    transition: border-radius 0.3s ease, background 0.3s ease;

    &::after {
        content: '';
        display: block;
        width: 17px;
        height: 10px;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='16.6523' y='1.6748' width='11.7744' height='1.81144' rx='0.905719' transform='rotate(135 16.6523 1.6748)' fill='%233A3E40'/%3E%3Crect x='1.28125' y='0.393555' width='11.7744' height='1.81144' rx='0.905719' transform='rotate(45 1.28125 0.393555)' fill='%233A3E40'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
        transition: transform 0.3s ease;
    }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background: #EAE9ED;
    border-radius: 24px 3px 24px 24px;
    border: 1px solid #C1BBD0;
    width: 220px;
    z-index: 1;
    margin-top: 5px;
    padding: 22px;
    font-family: 'Favorit';
    font-weight: 400;
    color: #3A3E40;

    max-height: 271px;
    overflow-y: auto;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 7px;
    }
    
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background: #9FAFD7;
    border-radius: 24px 24px 3px 24px;
    color: #FFFFFF;

    &::after {
        transform: rotate(180deg);
        filter: invert(1) contrast(2.5);
    }
}

/* Customize the label (the container) */
.dropdown-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:not(:last-child) {
        margin-bottom: 15px;
    }
  }
  
  /* Hide the browser's default checkbox */
  .dropdown-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark,
  .radiomark {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border-radius: 3px;
    border: 2px solid #A0A0A0;
  }

  .radiomark {
      border-radius: 50%
  }
  
  /* On mouse-over, add a grey background color */
  .dropdown-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .dropdown-container input:checked ~ .checkmark {
    background: #9FAFD7;
    border: 1px solid #8189EA;
  }

  .dropdown-container input:checked ~ .radiomark {
    background: #ffffff;
    border: 6px solid #8189EA;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after,
  .radiomark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .dropdown-container input:checked ~ .checkmark:after,
  .dropdown-container input:checked ~ .radiomark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .dropdown-container .checkmark:after {
    left: 2px;
    top: 4px;
    width: 15px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='13' viewBox='0 0 16 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.60352' y='4.60156' width='8.13015' height='2.83424' rx='1' transform='rotate(45 2.60352 4.60156)' fill='white'/%3E%3Crect x='4.34375' y='10.3496' width='13.2265' height='2.83424' rx='1' transform='rotate(-45 4.34375 10.3496)' fill='white'/%3E%3C/svg%3E%0A");
  }

.filter-selectedtags {
    background: #F3F3F3;
    padding: 10px 0;

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        li {
            margin: 7px;
        }
    }

    &__btn {
        background: #E0E0E0;
        border-radius: 24px;
        height: 42px;
        border: none;
        padding: 0 20px;
        display: flex;
        align-items: center;
        font-family: Favorit;
        font-size: 16px;

        &::before {
            content: '';
            display: block;
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='11.2188' width='15.8645' height='2' rx='1' transform='rotate(-45 1 11.2188)' fill='%23555555'/%3E%3Crect width='15.8645' height='2' rx='1' transform='matrix(-0.707107 -0.707107 -0.707107 0.707107 13.498 11.2188)' fill='%23555555'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: contain;
            width: 13px;
            height: 13px;
            margin-top: 2px;
            margin-right: 13px;
        }
    }
}


.cards-publication {
    &__list {
        padding-top: 45px;
        padding-bottom: 45px;
        max-width: 1080px;
        margin: 0 auto;
    }
    
    &__item {
        display: flex;
        align-items: stretch;
        padding: 0;
        border: 1px solid #B9B9B9;
        border-radius: 24px;
        background: #FBFBFB;
        overflow: hidden;

        &:not(:last-child) {
            margin-bottom: 25px;
        }

        h6 {
            font-family: 'EB Garamond';
            font-size: 28px;
            font-weight: bold;
            color: #000000;
            text-align: center;
            line-height: 120%;
            margin-bottom: 0;
        }
    }

    &__more {
        color: #000000;
        font-weight: bold;
    }

    &__tags-line {
        @include list;
        margin-top: 15px;
        justify-content: center;

        li {
            margin-bottom: 14px;
        }

        li:not(:last-child) {
            margin-right: 14px;
        }
    }

    &__tag {
        background: transparent;
        color: #738FD3;
        font-weight: 500;
        font-family: Favorit;
        text-decoration: none;
        padding: 0;
        width: auto;
        font-size: 20px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        border: none;
    }

    &__info-line {
        @include list;
        justify-content: center;
        color: #717475;
        margin-top: 20px;

        li {
            font-family: Favorit;
            font-weight: 300;
            font-size: 16px;

            &:not(:last-child)::after {
                content: '|';
                margin: 0 0.6em;
            }
        }
    }

    &__content {
        padding: 40px;
        padding-bottom: 38px;
        font-family: Favorit;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            margin-bottom: 0;
            text-align:left;
            font-weight: 300;
            font-size: 18px;
            color: #000000;
        }
    }

    &__media-wrapper {
        max-width: 400px;
        width: 40%;
        flex-shrink: 0;
        position: relative;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    &__item_ivent {
        position: relative;

        &::before {
            content: 'EVENT';
            position: absolute;
            top: 0;
            right: 0;
            font-weight: 400;
            border-bottom-left-radius: 14px;
            font-size: 14px;
            padding: 0 20px;
            font-family: 'Favorit';
            color: #ffffff;
            background: #9FAFD7;
            height: 38px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
        }  
        
        .cards-publication__media-wrapper {
            position: relative;

            span {
                position: absolute;
                right: 0;
                top: 0;
                color: #FFFFFF;
                font-family: 'Favorit';
                font-weight: 500;
                background: #262626;
                height: 40px;
                width: auto;
                padding: 0 32px;
                font-size: 17px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.pagination {
    margin-bottom: 260px;
    margin-top: 60px;
    
    overflow: hidden;

    .pagination__wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;
    }

    .pagination-prev,
    .pagination-next {
        display: block;
        cursor: pointer;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        padding:0;

        span {
            display: block;
            background-color: #A9B6D7;
            width: 45px;
            height: 45px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 50%;
            background-image: url("data:image/svg+xml,%3Csvg width='54' height='46' viewBox='0 0 54 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M34.0294 1.78688L53.1213 20.8788C54.2929 22.0503 54.2929 23.9498 53.1213 25.1214L34.0294 44.2133C32.8579 45.3849 30.9584 45.3849 29.7868 44.2133C28.6152 43.0417 28.6152 41.1422 29.7868 39.9706L43.7574 26.0001H3C1.34315 26.0001 0 24.6569 0 23.0001C0 21.3432 1.34315 20.0001 3 20.0001H43.7574L29.7868 6.02952C28.6152 4.85795 28.6152 2.95846 29.7868 1.78688C30.9584 0.61531 32.8579 0.61531 34.0294 1.78688Z' fill='%233A3E40'/%3E%3C/svg%3E%0A");
            border-radius: 50%;
            text-indent: -999em;
            overflow: hidden;
            text-align: left;
            box-sizing: border-box;
            direction: ltr;
        }
    }

    .pagination-prev {
        transform: rotate(180deg);
    }

    .pagination__pages {
        display: flex;
        width: 60%;
        justify-content: space-between;
    }

    .pagination__value {
        border: none;
        background: none;
        font-size: 30px;
        color: #ADAFAF;

        &.pagination__value_active {
            color: #000000;
        }
    }
}

.history {
    margin: 150px 0;
}

.filter {
    &.filter-publication {
        background-color: #F3F3F3;
        padding-top: 0;
        margin-bottom: 5px;
        padding-bottom: 0px;

        .category-list {
            padding: 0 0 30px 0;
            height: auto;
            transition: height 0.3s ease-in-out, padding 0.5s ease-in-out;

            li {
                display: flex;
                transition: height 0.3s ease-in-out;
                height: 57px;
            }

            &.category-list_closed {
                height: 0;
                padding: 0;

                li {
                    height: 0;
                    .btn {
                        display: none;
                    }
                }
            }
        }
    }

    .filter__spoiler {
        display: flex;
        align-items: center;
        padding: 20px 0;
        width: 100%;
        justify-content: flex-start;
        text-align: left;
        background: #717475;

        .filter__spoiler-btn {
            display: flex;
            align-items: center;
            border: none;
            width: 100%;
            justify-content: flex-start;
            text-align: left;
            cursor: pointer;

            &:after {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                background-image: url("data:image/svg+xml,%3Csvg width='22' height='12' viewBox='0 0 22 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.2688 0.352779C0.627195 -0.00561622 1.20653 -0.00561617 1.56493 0.352779L11 9.78783L20.4351 0.35278C20.7935 -0.00561446 21.3728 -0.0056144 21.7312 0.352781C22.0896 0.711175 22.0896 1.29051 21.7312 1.64891L11.6481 11.732C11.4693 11.9108 11.2347 12.0006 11 12.0006C10.7653 12.0006 10.5306 11.9108 10.3519 11.732L0.268757 1.6489C-0.0895949 1.29051 -0.0895945 0.711174 0.2688 0.352779Z' fill='white'/%3E%3C/svg%3E%0A");
                transition: transform 0.5s ease-in-out;
                
                background-repeat: no-repeat;
                background-position: center;
            }

            &.filter__spoiler-btn_open {
                &:after {
                    transform: rotate(180deg);
                }
            }

            &:focus,
            &:hover {
                background: inherit;
            }
        }
    
        svg {
            margin-right: 20px;
        }
    
        h5 {
            text-align: left;
            margin-right: auto;
            margin-left: 0;
        }
    }
}